/* SECCION DE LOGIN */
.logo{
  text-align: center;
}

#logoLogin{
  width: 10em;
  height: 10em;
  margin-top: 3em;
}

#tituloLogin{
  color: orange;
  font-size: 2.5em;
}

#nameWeb{
  color: gray;
  text-align: center;
}

.formLogin{
  color: white;
}

#forgotPass{
  font-size: 1em;
  margin-top: 1em;
}

.loginUser{
  background-color: #424242;
  height: 50em;
  width: 100%;
}

.btn-primary{
  margin-top: 2em;
  width: 100%;
  background-color: orange;
  border: none;
  color: #424242;
}

/* SECCION DE INDEX */
.btn-secondary{
  width: 80%;
  background-color: orange;
  border: none;
  color: white;
  margin: 3%;
  margin-left: 10%;
}
.saldo{
  margin-top: 6em;
}

.nav-link{
  color: white;
}

.backStyle{
  background-color: #D8D8D8;
  padding: 0;
}

/* SECCION DE PREGUNTAS FRECUENTES */

.questionsCol{
  background-color: orange;
  height: 15em;
}

#titleQuestions {
  text-align: center;
  color: white;
  font-size: 2em;
}

.panel-heading{
  background-color: white;
  margin: 1em;
  border-radius: 5px;
}
.panel-body{
  background-color: white;
  margin: 1em;  
}

.titleCollapse{
  color: black;
  font-size: 0.7em;
 margin-left: 1em;
}

#accordion{
  margin-top: 2.5em;
}

/* SECCION DE PERFIL */
.perfilCol{
  background-color: orange;
  height: 15em;
}

#fotoperfil {
  text-align: center;
  width: 100%;
  margin-top: 1.5em;
}

.showMail{
  color: black;
  background-color: white;
  border: none;
  border-radius: 0.3em;
  margin-top: 2em;
  height: 3em;
  
}

.inputCard{
  color: black;
  background-color: #D8D8D8;
  border: 0.5px solid gray;
  border-radius: 0.3em;
  margin-top: 2em;
  
  height: 3em;

}

.rememberCard{
  color: #424242;
  
}

#agreeCard{
  color: white;
  font-size: 1.5em;
  background-color: orange;
  border: none;
  border-radius: 0.3em;
  margin-top: 0.3em;
  height: 2em;
  
}

#containerCards div{
  color: black;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 0.3em;
  margin-top: 1em;
  height: 2em;
  
}

/* VER SALDO */
.numberCard{
  color: black;
  background-color: #D8D8D8;
  border: 0.5px solid gray;
  border-radius: 0.3em;
  margin-top: 4em;
  height: 3em;
  
}

#listCards{
  color: black;
  background-color: white;
  border-radius: 0.3em;
  margin-top: 2em;
  height: 3em;
  
}

#btnVerSaldo{
  color: white;
  font-size: 1.5em;
  background-color: orange;
  border: none;
  border-radius: 0.3em;
  margin-top: 2em;
  height: 2em;
  cursor: pointer;
}

.navBlack{
  background-color: black;
  margin-top: 2em;
  height: 2em;
}

.contenedorSaldo{
  color: black;
  background-color: orange;
  height: 8em;
}

.formatoMenu{
  padding: 0;
  width: 100%;
}
/*SECCION CALCULAR TARIFA*/
#btnCalcular{
color: white;
font-size: 1.5em;
background-color: orange;
border: none;
border-radius: 0.3em;
margin-top: 2em;
height: 2em;
cursor: pointer;
}
#tarifa{
  color: black;
  background-color: white;
  border-radius: 0.3em;
  margin-top: 2em;
  height: 3em;
}
#tarjeta{
  color: black;
  background-color: white;
  border-radius: 0.3em;
  margin-top: 2em;
  height: 3em;
}

/*display para secciones*/
#options{
  display: none;
}
#menuDesplegable{
  display: none;
}
#seccionPerfil{
  display: none;
}
#seccionSaldo{
  display: none;
}
#seccionPreguntas{
  display: none;
}
#seccionTarifa{
  display: none;
}
